// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-twilight.css'
// Check out "bower_components/prism/themes/" for available themes
@import url(http://fonts.googleapis.com/css?family=Lobster)
@import url(http://fonts.googleapis.com/css?family=Pacifico)
body
  background :rgb(14, 119, 111)
.head
  font-family: 'Lobster', cursive
h1,h2,h3
  font-family: 'Pacifico', cursive
center
  img
    border-radius 50%
.judul
	font-size:15px
	color:white
.lurus
	display:inline
	width:100%
.kiri
	text-align:left
	float:left
.kanan
	text-align:right
	float:right