doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 PENGENALAN CLOUD COMPUTING
      section
        h2 Created by
        ul
            li Mhd Tantowi Zauhari
            li Mhd Syawal Bangun
            li Gerald Halomoan Samosir
            li Steven
      section
        h2 Daftar isi
            li Apa itu Cloud Computing?
            li Karakteristik cloud computing
            li Model layanan cloud computing
            li Model Deployment cloud computing
      section
        h3 Latar Belakang Cloud Computing
        ul 
           li Teknologi memberi kemudahan dan kenyamanan luar biasa.
           li kegiatan yang di anggap tidak mungkin menjadi mungkin.
           li kegiatan yang membutuhkan waktu lama jadi cepat.
           li berbasis internet.
           li aplikasi sistem yang mudah dan tidak efisien
      section
        h3 Permasalahan diperoleh dalam sistem aplikasi jaringan.
        ul
           li bila ada perubahan pd local server maka memerlukan reinstall 
           li Sistem Operasi Sangat Bergantung kepada OS 

      section
        h3 – Cloud Computing –
        ul
           li Cloud Computing tidak harus disewa.
           li Mirip Dengan Server.
           li Lebih Sederhana.
        p perusahaan yang menggunakan Cloud.
        ul
           li IMB
           li Microsoft
           li Google
           li Apple
           li Dan Lainnya 

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    script(src='build/build.js')
