doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cloud Computing

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='java')

  body

    article

      section
         center
           img(class="left" src="image/head.png" style="width:35%;height:35%;")
           br
           h1(class="judul lurus right head") PENGENALAN CLOUD COMPUTING
      section
        h2 Created by
        ul(style="list-style-type: none")
            li Mhd Tantowi Zauhari
            li(style="text-align:right") Mhd Syawal Bangun
            li Gerald Halomoan Samosir
            li(style="text-align:right") Steven
      section
        h2
          ul
            li Apa itu Cloud Computing?
            li Karakteristik cloud computing
            li Model layanan cloud computing
            li Model Deployment cloud computing
            p
              img(src="image/cloud.png" style="float:right")
      section
        h3.bullet Latar Belakang Cloud Computing
        ul 
           li Teknologi memberi kemudahan dan kenyamanan luar biasa.
           li kegiatan yang di anggap tidak mungkin menjadi mungkin.
           li kegiatan yang membutuhkan waktu lama jadi cepat.
           li berbasis internet.
           li aplikasi sistem yang mudah dan efisien
      section
        h3.bullet Permasalahan diperoleh dalam sistem aplikasi jaringan.
        ul
           li Bila ada perubahan pada local server maka memerlukan reinstall 
           li Sistem Operasi Sangat Bergantung kepada OS 

      section
        h3.bullet Cloud Computing
        ul
           li Cloud Computing tidak harus disewa alias free.
           li Mirip Dengan Server.
           li Lebih Sederhana.
        ul.bullet perusahaan yang menggunakan Cloud.
           li IMB.
           li Microsoft.
           li Google.
           li Apple.
           li Dan Lainnya .
           

      section
        h2.bullet Model Deployment Cloud Computing
        ul 
          li Public Cloud
          li Private Cloud
          li Community Cloud
          li Hybrid Cloud

      section
        h3 Public Cloud
        h4.bullet layanan cloud dapat diakses oleh siapa saja (Public), Pengguna Public Cloud pada umumnya adalah masyarakat umum,Pengguna Public Cloud pada umumnya adalah masyarakat umum

      section
        h3.bullet Resiko Cloud Computing
          ul
             li Keamanan dan Kerahasian Data
                h5.bullet Cloud Computing memang hadir dengan membawa berbagai macam solusi dari permasalahan komputasi, tapi ada juga resiko yang membuat suatu organisasi tidak mau mengadaptasi cloud computing. Dua resiko yang paling penting adalah masalah keamanan dan kerahasiaan data, karena data kita diupload ke internet dimana semua orang bisa mengaksesnya atau khawatir layanan tersebut mengalami serangan cyber.
             li Service level  
                h5.bullet provider mungkin tidak akan konsisten dengan performance dari application atau transaksi. Hal ini mengharuskan anda untuk memahami service level yang anda dapatkan mengenai transaction response time, data protection dan kecepatan data recovery.
             li Privacy 
                h5.bullet orang lain / perusahaan lain juga melakukan hosting kemungkinan data anda akan keluar atau di baca oleh pemerintah U.S. dapat terjadi tampa sepengetahuan anda atau approve dari anda.
      section
        h3  Lanjutan Resiko Cloud Computing
          ul
             li  Compliance 
              Anda juga harus memperhatikan regulasi dari bisnis yang anda miliki, dalam hal ini secara teoritis cloud service provider diharapkan dapat menyamakan level compliance untuk penyimpanan data didalam cloud, namun karena service ini masih sangat muda anda diharapkan untuk berhati hati dalam hal penyimpanan data.
             li  Data ownership 
              Apakah data anda masih menjadi milik anda begitu data tersebut tersimpan didalam cloud? mungkin pertanyaan ini sedikit aneh, namun anda perlu mengetahui seperti hal nya yang terjadi pada Facebook yang mencoba untuk merubah terms of use aggrement nya yang mempertanyakan hal ini.
             li  Data Mobility 
              Apakah anda dapat melakukan share data diantara cloud service? dan jika anda terminate cloud relationship bagaimana anda mendapatkan data anda kembali? Format apa yang akan digunakan ? atau dapatkah anda memastikan kopi dari data nya telah terhapus

      section
        h3 Manfaat Cloud Computing
        ul
          li Semua Data Tersimpan di Server Secara Terpusat
          li Keamanan Data Terjamin
          li Fleksibilitas dan Skalabilitas yang Tinggi
          li Investasi Jangka Panjang

      section
        h3 Semua Data Tersimpan Di Server Secara Terpusat.
        ul
          li Keunggulan :
          li Memungkinkan User Untuk Simpan Data Scara Terpusat.
          li Tak Perlu Menyediakan Infrastruktur (Data Center).
          li Media Penyimpanan Atau Storage Sudah Virtual.

      section
        h3.bullet Karakteristik Cloud Computing
          ul
              li On-Demand Self-Service 
              li Broad Network Access 
              li Resource Pooling 
              li Rapid Elasticity 
              li Measured Service 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        
    script(src='build/build.js')
