doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cloud Computing

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='java')

  body

    article

      section(class="sampul abu")
         center
           img(class="left" src="image/head.png" style="width:35%;height:35%;")
           br
           h1(class="judul lurus right head") PENGENALAN CLOUD COMPUTING
      section(class="biru")
        h2 Created by
        ul(style="list-style-type: none")
            li Mhd Tantowi Zauhari
            li(style="text-align:right") Mhd Syawal Bangun
            li Gerald Halomoan Samosir
            li(style="text-align:right") Steven
      section(class="hijau")
        h2
          ul
            li Apa itu Cloud Computing?.
            li Karakteristik cloud computing.
            li Model layanan cloud computing.
            li Model Deployment cloud computing.
            p
              img(src="image/cloud.png" style="float:right")
      section(class="abu")
        h3(class="judul_atas").bullet Latar Belakang Cloud Computing
        ul 
           li Teknologi memberi kemudahan dan kenyamanan luar biasa.
           li kegiatan yang di anggap tidak mungkin menjadi mungkin.
           li kegiatan yang membutuhkan waktu lama jadi cepat.
           li berbasis internet.
           li aplikasi sistem yang mudah dan efisien
      section(class="biru")
        h3(class="judul_atas").bullet Permasalahan diperoleh dalam sistem aplikasi jaringan.
        ul
           li Bila ada perubahan pada local server maka memerlukan reinstall 
           li Sistem Operasi Sangat Bergantung kepada OS 

      section(class="hijau")
        h3(class="judul_atas").bullet Cloud Computing
        ul
           li Cloud Computing tidak harus disewa alias free.
           li Mirip Dengan Server.
           li Lebih Sederhana.
        ul.bullet perusahaan yang menggunakan Cloud.
           li IMB.
           li Microsoft.
           li Google.
           li Apple.
           li Dan Lainnya .
           
      section(class="abu")
        h3(class="judul_atas") DealPOS
        ul
           li Dikembangkan oleh Suatu Perusahaan.
           li Metode Kerja Point Of Sale (POS).
           li Mudah Mengakses Data Toko oleh Pemilik Toko.
      section(class="biru")
        h3(class="judul_atas") Cara Pakai Zelnite.
        ul
           li Dikembangkan oleh Suatu Perusahaan.
           li Metode Kerja Point Of Sale (POS).
           li Mudah Mengakses Data Toko oleh Pemilik Toko.

        

      section(class="hijau")
        h2(class="judul_atas").bullet Model Deployment Cloud Computing
        ul 
          li Public Cloud
          li Private Cloud
          li Community Cloud
          li Hybrid Cloud

      section(class="abu")
        h3(class="judul_atas") Public Cloud
        h4.bullet layanan cloud dapat diakses oleh siapa saja (Public), Pengguna Public Cloud pada umumnya adalah masyarakat umum,Pengguna Public Cloud pada umumnya adalah masyarakat umum.

      section(class="biru")
        h3(class="judul_atas").bullet Resiko Cloud Computing
        ul
         li Keamanan dan Kerahasian Data
                p.bullet Cloud Computing memang hadir dengan membawa berbagai macam solusi dari permasalahan komputasi, tapi ada juga resiko yang membuat suatu organisasi tidak mau mengadaptasi cloud computing. Dua resiko yang paling penting adalah masalah keamanan dan kerahasiaan data, karena data kita diupload ke internet dimana semua orang bisa mengaksesnya atau khawatir layanan tersebut mengalami serangan cyber.
         li Service level  
                p.bullet provider mungkin tidak akan konsisten dengan performance dari application atau transaksi. Hal ini mengharuskan anda untuk memahami service level yang anda dapatkan mengenai transaction response time, data protection dan kecepatan data recovery.
      section(class="hijau")
        h3(class="judul_atas")  Lanjutan Resiko Cloud Computing
        ul
         li Privacy 
                p.bullet orang lain / perusahaan lain juga melakukan hosting kemungkinan data anda akan keluar atau di baca oleh pemerintah U.S. dapat terjadi tampa sepengetahuan anda atau approve dari anda.
        li  Compliance 
              p.bullet juga harus memperhatikan regulasi dari bisnis yang anda miliki, dalam hal ini secara teoritis cloud service provider diharapkan dapat menyamakan level compliance untuk penyimpanan data didalam cloud, namun karena service ini masih sangat muda anda diharapkan untuk berhati hati dalam hal penyimpanan data.
      section(class="abu")
        h3(class="judul_atas")  Lanjutan Resiko Cloud Computingn
        ul
         li  Data ownership 
                  p.bullet data anda masih menjadi milik anda begitu data tersebut tersimpan didalam cloud? mungkin pertanyaan ini sedikit aneh, namun anda perlu mengetahui seperti hal nya yang terjadi pada Facebook yang mencoba untuk merubah terms of use aggrement nya yang mempertanyakan hal ini.
         li  Data Mobility 
                  p.bullet anda dapat melakukan share data diantara cloud service? dan jika anda terminate cloud relationship bagaimana anda mendapatkan data anda kembali? Format apa yang akan digunakan ? atau dapatkah anda memastikan kopi dari data nya telah terhapus
      section(class="biru")
        h3(class="judul_atas") Manfaat Cloud Computing
        ul
          li Semua Data Tersimpan di Server Secara Terpusat.
          li Keamanan Data Terjamin.
          li Fleksibilitas dan Skalabilitas yang Tinggi.
          li Investasi Jangka Panjang.

      section(class="hijau")
        h3(class="judul_atas") Semua Data Tersimpan Di Server Secara Terpusat.
        ul
          li Keunggulan :
          li Memungkinkan User Untuk Simpan Data Scara Terpusat.
          li Tak Perlu Menyediakan Infrastruktur (Data Center).
          li Media Penyimpanan Atau Storage Sudah Virtual.


      section(class="abu")
        h3(class="judul_atas").bullet Karakteristik Cloud Computing
        ul
              li On-Demand Self-Service .
              li Broad Network Access .
              li Resource Pooling .
              li Rapid Elasticity .
              li Measured Service .

      section(class="biru")
        h3(class="judul_atas").bullet On-Demand Self-Service
        p.bullet Pengguna dapat langsung memilih jenis dan spesifikasi layanan yang dibutuhkan sehingga mengurangi interaksi dengan pihak penyedia layanan cloud (cloud provider).

      section(class="hijau")
        h3(class="judul_atas").bullet Broad Network Access
        p.bullet Layanan cloud memerlukan akses jaringan yang cukup memadai agar layanan tersebut bisa diakses dengan lancar.

      section(class="abu")
        h3(class="judul_atas").bullet Resource Pooling
        p.bullet Sumber daya komputasi berasal dari sekumpulan server yang lokasinya berbeda-beda, tidak terpusat pada satu lokasi saja.

      section(class="biru")
        h3(class="judul_atas").bullet Rapid Elasticity
        p.bullet kapabilitas layanan harus dapat diatur kapasitasnya sesuai dengan yang diinginkan dan dapat dilakukan dalam waktu yang singkat.

      section(class="hijau")
        h3(class="judul_atas").bullet Measured Service
        p.bullet Layanan yang digunakan oleh pengguna dapat terukur dengan jelas sehingga pengguna hanya membayar sewa sesuai jumlah layanan yang digunakan.
      section(class="abu")
          h3(class="judul_atas") Cloud computing mempunyai 3 tingkatan layanan yang diberikan kepada pengguna, yaitu:
          ul
            li Infrastructure as service, hal ini meliputi Grid untuk virtualized server, storage & network. Contohnya seperti Amazon Elastic Compute Cloud dan Simple Storage Service.
            li Platform as a service, hal ini memfokuskan pada aplikasi dimana dalam hal ini seorang developer tidak perlu memikirkan hardware dan tetap fokus pada pembuatan aplikasi tanpa harus mengkhawatirkan sistem operasi, infrastructure scaling, load balancing dan lain-lain. Contohnya yang sudah mengimplementasikan ini adalah Force.com dan Microsoft Azure investment.
            li Software as a service: Hal ini memfokuskan pada aplikasi dengan Web-based interface yang diakses melalui Web Service dan Web 2.0. Contohnya           adalahGoogle Apps dan SalesForce.com.
      section(class="biru")
          h3(class="judul_atas") Model Layanan Cloud Computing
          ul
            li Software as a Service (SaaS) : layanan yang diberikan kepada pengguna berupa perangkat lunak seperti office suite. Contoh Google Doc dan Apple iWork yang merupakan aplikasi office. Tipe pengguna dari layanan SaaS adalah End User, pengguna yang tinggal menggunakan aplikasi saja.

            li Platform as a Service (PaaS) : layanan yang diberikan kepada pengguna berupa platform untuk membantu proses pengembangan perangkat lunak seperti database, service, dan platform bahasa pemrograman. Contoh Google App Engine, RedHat OpenShift, dan Koding. Tipe penggunan dari layanan PaaS adalah Application Developer, pengembang aplikasi bisa langsung fokus mengembangkan aplikasi tanpa perlu menyiapkan sendiri platform pengembangannya.

            li Infrastructure as a Service (IaaS) : layanan yang diberikan kepada pengguna berupa komputer server (mesin virtual) dan jaringan seperti layanan VPS (Virtual Private Server). Contoh Amazon Web Service (AWS), Linode, Digital Ocean, dan Cloud Kilat. Tipe pengguna dari layanan IaaS adalah Network/System Architect, sysadmin yang menyiapkan semua konfigurasi sistem mulai dari sistem operasi, jaringan, sampai platform pengembangan aplikasi.
        
    script(src='build/build.js')
